/** @format */
* {
	box-sizing: border-box;
}
body,
html {
	margin: 0;
	padding: 0;

	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}
.container {
	display: flex;
	/* min-height: 100vh; */
	transition: margin-left 0.3s; /* Smooth transition when the sidebar toggles */
}
#navbar-home {
	color: black;
}
/* Sidebar styling */
.sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #000000;
	color: white;
	padding-top: 10px;
	font-size: 12px;
	overflow-y: auto;
	height: 100%; /* Ensures sidebar fills the height */
}
#avbar-home {
	color: black;
}

.sidebar a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: white;
}

.nav-item .nav-link {
	color: white;
}

.sidebar a:hover {
	background-color: #444;
}

/* Content area */
#contentArea {
	margin: auto;
	margin-left: 250px;
	padding: 20px;
	flex-grow: 1;
	transition: margin-left 0.3s;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
	.sidebar {
		position: relative;
		width: 10%;
		height: auto;
		padding-top: 20px;
	}

	#contentArea {
		margin-left: 0; /* Full width on smaller screens */
	}
}

#containerCreationCompte {
	position: relative;
	font-size: 12px;
	/* height: 800px; */
}

h2 {
	text-align: center;
}

.form-group {
	margin-bottom: 20px;
}

label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 3px;
	margin: 1px 0px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

/* Navbar styles */
nav {
	background-color: #072249;
	/* overflow: hidden; */
}

/* Header styles */
header {
	background-color: #c2d5f0;
	color: white;
	/* padding: 10px; */
	text-align: center;
}

/* Footer styles */
footer {
	position: fixed;
	background-color: #0a485a;
	padding: 3px 0;
	color: white;
	text-align: center;
	width: 100%;
	bottom: 0;
	text-align: center;
}

legend {
	font-weight: bold;
	position: relative;
}

legend::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%; /* Ensures the line spans the full width of the legend */
	height: 1px; /* Height of the underline */
	background: linear-gradient(
		to right,
		rgba(211, 211, 211, 0) 0%,
		rgb(14, 16, 97) 50%,
		rgba(211, 211, 211, 0) 100%
	);
	/* Light gray color with opacity on both edges */
}
/* Responsive design for mobile screens */
@media screen and (max-width: 600px) {
	nav a {
		float: none;
		width: 100%;
		text-align: left;
	}
}
.navbar {
	border-radius: 5px;
	background-color: rgb(255, 255, 255) !important;
	text-decoration: underline;
}
.navbar-contianer {
	height: 100vh;
}
.navbar-nav {
	flex: 1;
	text-align: center;
	color: #000;
	font-weight: 200;
}
.navbar-brand {
	flex: 0;
}
.navbar-nav .nav-item {
	margin: 0px;
}

#container-nav-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-evenly;
	color: white;
}
#nar-home {
	color: white;
}
.navbar-light .navbar-nav .nav-link {
	font-size: large;
	color: #000;
}

.container-login {
	position: relative;
	transition: transform 0.3s ease;
	background: #0a485a;
	height: 41px;
	width: 123px;
	border-radius: 10px;
}

#nav-login {
	position: absolute;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease;
	font-size: 12px !important;
	font-weight: lighter;
	color: white;
	top: -3px;
}

nav::after {
	content: "";
	position: absolute;
	margin-top: 5px;
	bottom: 0;
	left: 0;
	width: 100%; /* Ensures the line spans the full width of the legend */
	height: 2px; /* Height of the underline */
	background: linear-gradient(
		to right,
		rgba(211, 211, 211, 0) 0%,
		rgb(14, 84, 95) 50%,
		rgba(211, 211, 211, 0) 100%
	);
	/* Light gray color with opacity on both edges */
}

#nav-login img {
	margin-top: 2px;
	margin-bottom: 5px;
	height: 29px;
	transition: transform 0.3s ease; /* Smooth transition for image movement */
}

#nav-login:hover img {
	transform: translateX(10px); /* Move image 3px to the right on hover */
}

.card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 15px;
	top: 16px;
	max-width: 905px;
	margin: auto;
	padding: 20px 14px 19px 19px;
	background-color: #dddddd;
}

.card-body {
	flex-direction: column;
	flex: 1 1 calc(33.33% - 16px);
	max-width: calc(33.33% - 16px);
	/* height: 300px;
	width: 200px; */
	background-color: white;
	display: flex;

	justify-content: space-around;
	border-radius: 8px;
}
