/** @format */

#navbar-home {
	background-color: #0a485a !important;
	border-radius: 0px !important;
}

legend {
	text-align: center !important;
}

.card-title {
	color: #063846;
	font-size: 20px !important;
}

.btn {
	font-weight: 150;
	font-size: 15px;
}

.card-text {
	font-size: 14px;
}

.submenu {
	padding-left: 27px;
}
